.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    min-height: calc(100vh - var(--header-height));
}

.tab {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 320px;
    padding: 40px 20px;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px #cccccc;
    background: repeating-linear-gradient(23deg,
            #fff 0%,
            #fff 42.8%,
            #4a78b0 0%,
            #4a78b0 100%);
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.avatarImg {
    border-radius: 50%;
    width: 210px;
    height: 210px;
    object-fit: cover;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-weight: 500;
}

.unauthenticatedContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}